{% extends "layouts/base.html" %}

{% load static %}

{% block vista %}Productos{% endblock %}


{% block contenido %}
    <header>
        <h1 class="text-center">Vista Productos</h1>
    </header>

    <main class="container">
        <section>
            <h2 class="text-center">Listado de productos</h2>
            
            <div class="row g-3" id="productos">
                {% for producto in  productos %}
                    <div class="col-12 col-md-6 col-lg-4">
                        {% comment %} AQUÍ VAN LOS CARDS {% endcomment %}
                        <div class="card w-100">
                            {% comment %} <img src="{{producto.imagen}}" class="card-img-top" alt="{{producto.nombre}}"> {% endcomment %}
                            <img src="{% static 'img/productos/'|add:producto.imagen %}" class="card-img-top" alt="{{producto.nombre}}">
                            <div class="card-body">
                              <h5 class="card-title">{{producto.nombre}}</h5>
                              <div class="contenedor-descripcion">
                                 <p class="card-text">{{producto.descripcion}}</p>
                              </div>
                              <hr>
                              <p class="card-text {% if producto.stock < 10 %}text-danger{% endif %}">Stock: {{producto.stock}}</p>
                              {% if producto.descuento > 0 %}
                              <p class="card-text">Precio anterior: (<span class="text-decoration-line-through">$ {{producto.precio}}</span> - <span class="text-danger">$ {{producto.descuento}}</span>) - Nuevo precio:
                                <span class="text-success">{{producto.precio_final}}</span></p>
                              {% else %}
                              <p class="card-text">Precio: $ {{producto.precio}}</p>
                              {% endif %}
                              <a href="{% url 'detalle-producto' id=producto.id %}" class="btn btn-primary">Ver detalles</a>
                            </div>
                          </div>
                    </div>
                {% endfor %}
            </div>

        </section>
    </main>
{% endblock  %}
